@keyframes gradient_animation {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
}

a {
    text-decoration: none;
}
body, html {
    overflow-x: hidden;
    background-color: black;
    font-family: Calibri !important;
}
.sus {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.generictext {
    animation: fadeIn ease 1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}
.underline {
    text-decoration: underline;
}
.button3 {
    animation: fadeIn ease 1.5s;
    transition: all .25s ease-in-out; 
    padding: 8px 15px;
    background-color: #424474;
    border-radius: 30px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button3:hover {
    transition: all .25s ease-in-out; 
    color: #d12991;
}
.genericbutton {
    transition: all .25s ease-in-out; 
    padding: 8px 15px;
    background-color: #424474;
    border-radius: 30px;
    color: whitesmoke;
}
.genericbutton:hover {
    transition: all .25s ease-in-out; 
    color: #d12991;
}
.img2 {
    animation: fadeIn ease 1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .64s ease-in-out; 
}
.img2:hover {
    transform: scale(1.075);
    transition: all 0.2s ease-in-out; 
}
.img1 {
    animation: fadeIn ease 1.5s;
    transition: all 0.64s ease-in-out; 
}
.img1:hover {
    transition: all 0.2s ease-in-out; 
    transform: scale(1.075);
}
.pretty_animation {
    background: linear-gradient(to right, #6666ff, #0099ff, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}
.line {
    width: 150px;
    height: 4px;
    background-color: #424474;
    margin: 10px auto;
    border-radius: 5px;
}
.navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}
header {
    width: 100vw;
    height: 100vh;

    background-image: url('./images/catbg.gif'); 
    background-repeat: repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content {
    animation: fadeIn ease 1.5s;
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2 {
    font-size: 4vmin;
}
.subtitle {
    animation: fadeIn ease 1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5vmin;
    color: whitesmoke;
}
section {
    width: 80%;
    margin: 80px auto;
}
.title {
    animation: fadeIn ease 1.5s;
    text-align: center;
    font-size: 4vmin;
    color: #424474;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active {
    animation: fadeIn ease 1.5s;
    color: #424474;
    text-decoration: underline;
    font-weight: bold;
}
.inactive {
    transition: all .125s ease-in-out; 
}
.inactive:hover {
    transition: all .25s ease-in-out; 
    color: #d12991;
}
.events.row {
    margin-top: 50px;
}
h4 {
    font-size: 3vmin;
    color:#424474;
    margin: 20px auto;
}